*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #2C3F5C;
}


.innerSection {
    overflow: hidden;
    height: 33vh;
    width: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.innerSection img {
    width: 70%;
    height: 70%;
}
h1 {
    font-size: 4rem;
    color: white;
}
h2 {
    font-size: 2rem;
    color: white;
}
#sec3 {
    display: flex;
    flex-wrap: wrap;
}
button {
    background-color:#9C060C ;
    background-position: center;
    border-radius: 2px;
    border-radius: 10%;
    color: white;
    cursor: pointer;
    font-family: Arial;
    font-size: 30px;
    outline: none;
    padding: 20px 30px;
    text-transform: uppercase;
    margin-left: 10px;
    margin-right: 10px;
    transition: all 0.1s;
}
button:hover{
 border: 2px solid white; 
 background-color: #0c121a;  
}